#main {
    margin: auto;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    background-color: #EEE;
    padding: 1%;
    color: #181818;
}

#perfilInfo {
    margin: auto;
    border-bottom: 5px solid #2C3DB7;
    background-color: #EEE;
    padding: 1%;
    color: #181818;
}

#perfilInfo #avatar {
    width: 40%;
    height: auto;
    border-radius: 50%;
    border-color: #2C3DB7;
    border-width: 2px;
}

#avatarPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lateralDerecho * {
    margin: auto;
    background-color: #F9F9F9;
    padding: 0.15%;
    color: #181818;
}

body {
    background-color: #F9F9F9;
    margin: 0px;
    font-family: Verdana, sans-serif;
}

#container {
    background-color: #F9F9F9;
    color: #181818;
}

header {
    background-color: #F9F9F9;
    color: #181818;
    padding: 1%;
    border-bottom: 5px solid #2C3DB7;
    text-align: center;
}

header * {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menus * {
    justify-content: flex-end;
}

header h1 {
    margin: 0px;
    font-size: 40px;
}

h1,
h2,
h3,
h4 {
    font-family: "Segoe UI", Arial, sans-serif;
    text-transform: uppercase;
}

a {
    color: #2C3DB7;
    text-decoration: none;
}

header a,
footer a {
    color: #181818;
    text-decoration: none;
}

h2>a,
h3>a,
h4>a {
    font-weight: 800;
    color: #333;
    text-decoration: none;
}

#main h2 {
    font-size: 30px;
}

#h3 {
    font-size: 20px;
}

.listaVideos {
    padding: 1%;
}

.bloqueVideo img {
    float: left;
    border: 1px solid #666;
    margin-bottom: 1%;
    width: 100%;
    height: auto;
}

#nickUsuario {
    color: #2C3DB7;
    text-decoration: none;
}

.bloqueVideo {
    clear: both;
    list-style: none;
    min-height: 200px;
    padding: 1%;
}

#vidcover {
    text-align: center;
}

.small {
    font-size: 10px;
}

footer {
    background-color: #F9F9F9;
    border-top: 5px solid #2C3DB7;
    text-align: center;
    padding: 5px 5px;
    color: #181818;
    font-size: 10px;
}

footer span {
    padding-left: 5px;
    border-left: 1px solid #2C3DB7;
}

.bloqueComentario {
    list-style: none;
    margin-bottom: 10px;
    border-left: 3px dashed #2C3DB7;
    padding-left: 10px;
}

#frmComentario textarea {
    width: 100%;
}

p.usuario a {
    color: red;
}

#avatar {
    width: 15%;
    height: auto;
    border-radius: 50%;
    border-color: #2C3DB7;
    border-width: 2px;
}

#avatar:hover {
    opacity: 0.3;
}

#sol {
    width: 70%;
    height: auto;
}

#luna {
    width: 50%;
    height: auto;
}

#dropdownMenu * {
    display: flex;
    justify-content: left;
}

#video {
    border: 2px solid #2C3DB7;
}

#videoInfo {
    margin: auto;
    padding: 1%;
}

#videoInfo a {
    text-decoration: none;
}

#modificarVideo * {
    display: flex;
    justify-content: flex-end;
}

#comentario_save {
    color: #EEE;
    background-color: #2C3DB7;
}

#usuarioVideo {
    color: #A46A1F;
    text-decoration: none;
}

#logo {
    width: 30%;
    height: auto;
}