{% extends 'viewtubeBase.html.twig' %}
{% block titulo %}
	{% trans %}videoBorrada.titulo{% endtrans %}
{% endblock %}
{% block main %}
	<p class="small">
		<a href="{{ path('index') }}">â† {% trans %}video.volver{% endtrans %}</a>
	</p>
	<strong>{% trans %}videoBorrada.mensaje{% endtrans %}</strong>
{% endblock %}
