{% extends 'viewtubeBase.html.twig' %}

{% block titulo %}
	{% trans %}nuevaVideo.titulo{% endtrans %}
	-
	{{ parent() }}
{% endblock %}

{% block main %}
	<p class="small">
		<a href="{{ path('index') }}">â† {% trans %}video.volver{% endtrans %}</a>
	</p>
	<strong>{% trans %}videoCreada.mensaje{% endtrans %}</strong>
{% endblock %}
