{% extends 'blog/blogBase.html.twig' %}
{% block titulo %}
	{% trans %}noticiaBorrada.titulo{% endtrans %}
{% endblock %}
{% block main %}
	<p class="small">
		<a href="{{ path('index') }}">← {% trans %}noticia.volver{% endtrans %}</a>
	</p>
	<strong>{% trans %}noticiaBorrada.mensaje{% endtrans %}</strong>
{% endblock %}
